body {
  font-family: Arial;
}

.login,
.chat {
  width: 300px;
  margin: 80px auto;
}

input {
  width: 100%;
  margin: 5px 0;
  padding: 6px;
}

button {
  width: 100%;
  margin-top: 5px;
}

.messages {
  border: 1px solid #ccc;
  height: 200px;
  overflow-y: auto;
  margin-bottom: 5px;
}

.me {
  text-align: right;
  color: blue;
}

.bot {
  text-align: left;
  color: green;
}
